In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pg4 = pd.read_csv('C:/Users/Han/Desktop/Statistics/Python/Dataset/ESC2020/pag4.csv')

# drop the 1st col

In [3]:
df = pg4.copy()
df.drop(df.columns[0],axis=1,inplace=True)
df.head()

   FAM1  REL  JEN  MAR  RLI  DE2  DE3  DE7  DE8  DE9
0     2    1    1    1    6    6    2    5    2    3
1     2    2    2    1    6    6    2    5    4    4
2     5    3    2    2    6    2    3    5    3    2
3     5    3    2    2    6    1    3    5    3    4
4     5    3    1    2    6    1    1    5    3    4

In [4]:
pg4 = df

# convert the col to dummy variable

## FAM1

In [5]:
df = pg4.copy()
df.loc[(pg4['FAM1'] == 1) ,'FAM1'] = 0 # 혼자.. 
df.loc[(pg4['FAM1'] != 1 ) ,'FAM1'] = 1  # 둘 이상..

In [6]:
df.head()

   FAM1  REL  JEN  MAR  RLI  DE2  DE3  DE7  DE8  DE9
0     1    1    1    1    6    6    2    5    2    3
1     1    2    2    1    6    6    2    5    4    4
2     1    3    2    2    6    2    3    5    3    2
3     1    3    2    2    6    1    3    5    3    4
4     1    3    1    2    6    1    1    5    3    4

In [7]:
pg4 = df

## REL

In [8]:
df = pg4.copy()
df.loc[pg4['REL'].isin([1,2,3,4,5,8]) ,'REL'] = 0 # 123458
df.loc[~pg4['REL'].isin([1,2,3,4,5,8]) ,'REL'] = 1  #  나머지

In [9]:
display( df.head() , df['REL'].value_counts() )

   FAM1  REL  JEN  MAR  RLI  DE2  DE3  DE7  DE8  DE9
0     1    0    1    1    6    6    2    5    2    3
1     1    0    2    1    6    6    2    5    4    4
2     1    0    2    2    6    2    3    5    3    2
3     1    0    2    2    6    1    3    5    3    4
4     1    0    1    2    6    1    1    5    3    4

0    31415
1      433
Name: REL, dtype: int64

In [10]:
pg4 = df

# MAR

In [11]:
# MAR 은 그냥 내비두자.

# RLI

In [12]:
df = pg4.copy()
df.loc[pg4['RLI'].isin([1,3]) ,'RLI'] = 0 # 서양
df.loc[pg4['RLI'].isin([2,4]) ,'RLI'] = 1  # 동양
df.loc[~pg4['RLI'].isin([1,2,3,4]) ,'RLI'] =2 # 기타무교

In [13]:
display( df.head() , df['RLI'].value_counts() )

   FAM1  REL  JEN  MAR  RLI  DE2  DE3  DE7  DE8  DE9
0     1    0    1    1    2    6    2    5    2    3
1     1    0    2    1    2    6    2    5    4    4
2     1    0    2    2    2    2    3    5    3    2
3     1    0    2    2    2    1    3    5    3    4
4     1    0    1    2    2    1    1    5    3    4

2    17240
0    11479
1     3129
Name: RLI, dtype: int64

In [14]:
pg4 = df

# DE2

In [15]:
df = pg4.copy()
df.loc[pg4['DE2'].isin([1,2,3]) ,'DE2'] = 0 # 1~3
df.loc[pg4['DE2'].isin([4,5]) ,'DE2'] = 1  # 4~5
df.loc[~pg4['DE2'].isin([1,2,3,4,5]) ,'DE2'] =2 # 6

In [16]:
display( df.head() , df['DE2'].value_counts() )

   FAM1  REL  JEN  MAR  RLI  DE2  DE3  DE7  DE8  DE9
0     1    0    1    1    2    2    2    5    2    3
1     1    0    2    1    2    2    2    5    4    4
2     1    0    2    2    2    0    3    5    3    2
3     1    0    2    2    2    0    3    5    3    4
4     1    0    1    2    2    0    1    5    3    4

0    13337
1    13104
2     5407
Name: DE2, dtype: int64

In [17]:
pg4 = df

# DE3

In [18]:
df = pg4.copy()
df.loc[pg4['DE3'].isin([1,2]) ,'DE3'] = 0 # 1~2
df.loc[pg4['DE3'].isin([3,4]) ,'DE3'] = 1  # 3,4

In [19]:
display( df.head() , df['DE3'].value_counts() )

   FAM1  REL  JEN  MAR  RLI  DE2  DE3  DE7  DE8  DE9
0     1    0    1    1    2    2    0    5    2    3
1     1    0    2    1    2    2    0    5    4    4
2     1    0    2    2    2    0    1    5    3    2
3     1    0    2    2    2    0    1    5    3    4
4     1    0    1    2    2    0    0    5    3    4

1    16948
0    14900
Name: DE3, dtype: int64

In [20]:
pg4 = df

# DE7

In [21]:
df = pg4.copy()
df.loc[pg4['DE7'].isin([1,2,3,4]) ,'DE7'] = 0 
df.loc[~pg4['DE7'].isin([1,2,3,4]) ,'DE7'] = 1

In [22]:
display( df.head() , df['DE7'].value_counts() )

   FAM1  REL  JEN  MAR  RLI  DE2  DE3  DE7  DE8  DE9
0     1    0    1    1    2    2    0    1    2    3
1     1    0    2    1    2    2    0    1    4    4
2     1    0    2    2    2    0    1    1    3    2
3     1    0    2    2    2    0    1    1    3    4
4     1    0    1    2    2    0    0    1    3    4

0    26035
1     5813
Name: DE7, dtype: int64

In [23]:
pg4 = df

# DE8

In [24]:
# 다 따로보자.

# DE9

In [25]:
df = pg4.copy()
df.loc[pg4['DE9'].isin([1,2]) ,'DE9'] = 0 
df.loc[~pg4['DE9'].isin([3,4]) ,'DE9'] = 1

In [26]:
display( df.head() , df['DE7'].value_counts() )

   FAM1  REL  JEN  MAR  RLI  DE2  DE3  DE7  DE8  DE9
0     1    0    1    1    2    2    0    1    2    3
1     1    0    2    1    2    2    0    1    4    4
2     1    0    2    2    2    0    1    1    3    1
3     1    0    2    2    2    0    1    1    3    4
4     1    0    1    2    2    0    0    1    3    4

0    26035
1     5813
Name: DE7, dtype: int64

In [27]:
pg4 = df

In [28]:
pg4.columns.values

array(['FAM1', 'REL', 'JEN', 'MAR', 'RLI', 'DE2', 'DE3', 'DE7', 'DE8',
       'DE9'], dtype=object)

In [29]:
pg4=pd.get_dummies(pg4,columns=['FAM1', 'REL', 'JEN', 'MAR', 'RLI', 'DE2', 'DE3', 'DE7', 'DE8','DE9'],drop_first = True)

In [32]:
pg4.to_csv('C:/Users/Han/Desktop/pg4.csv')